.mobile_layout {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 720px;
    margin: 0 auto;
    padding: 16px 16px;
    background-color: var(--background-color);
}

.tablet_layout,
.pc_layout {
    width: 100vw;
    height: 600px;
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 16px 16px;
    background-color: var(--background-color);
}

section.video {
    &.mobile {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px;
    }

    &.tablet,
    &.pc {
        width: 100%;
        height: 100%;
        max-height: 400px;
    }
}


.video_edit_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    color: var(--font-color);
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.upload__btn {
    width: 100%;
    border-radius: 8px;
    background-color: #0d6efd !important;
    border: 1px solid #0d6efd !important;
    padding: 16px 8px;
    margin-bottom: 75px;
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover, &:focus, &:active {
        background-color: #383838 !important;
        border-color: #383838 !important;
    }
}

.re__upload__btn {
    width: fit-content;
    border-radius: 8px;
    background-color: #0d6efd !important;
    border: 1px solid #0d6efd !important;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    line-height: normal;

    &:hover, &:focus, &:active {
        background-color: #383838 !important;
        border-color: #383838 !important;
    }
}

.video_placeholder_img {
    &.mobile, &.tablet, &.pc {
        width: 100%;
        max-height: inherit;
        margin-bottom: 32px;
    }
}

.video_slider {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
}

.currTime {
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video_conversion {

    &.tablet, &.pc {
        display: flex;
        gap: 16;
    }
}